*.exe
*.sqlite
*.db
*.blend[0-9]
*.flamenco.blend

/flamenco-manager
/flamenco-worker
/flamenco-manager_race
/flamenco-worker_race
/addon-packer
flamenco-worker.yaml
flamenco-worker-credentials.yaml
node_modules/
task-logs/
flamenco-storage/

__pycache__
*.pyc
.mypy_cache/
.openapi-generator/
.hugo_build.lock

web/manager-api/dist/
web/static/
/dist/
